/* Estilos personalizados para o body e interface */
body {
    font-family: Arial, sans-serif;
    background-color: #efddf5;
    margin: 0;
    padding: 0;
}

#interface {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para o header e menu */
header .menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header .menu li {
    display: inline-block;
    margin-right: 20px;
}

header .menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header .menu a:hover {
    color: #0056b3;
}

/* Estilos para o footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 20px;
}

footer p {
    margin: 5px;
}

footer a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}

footer a:hover {
    color: #0056b3;
}

footer img {
    width: 30px;
    margin: 0 5px;
}

/* Estilos para o logo */
.logo {
    width: 150px;
    height: 180px;
}